@font-face {
  font-family: "iconfont"; /* Project id 4391130 */
  /* url('iconfont.woff2?t=1706858808518') format('woff2'),
       url('iconfont.woff?t=1706858808518') format('woff'), */
  src: url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wancheng:before {
  content: "\e65c";
}

.icon-icon-receive:before {
  content: "\e62d";
}

.icon-dingdan:before {
  content: "\e645";
}

.icon-fukuan:before {
  content: "\e62c";
}

.icon-fenleiorguangchangorqitatianchong:before {
  content: "\e67d";
}

.icon-guantou:before {
  content: "\e612";
}

.icon-zhongyiguan:before {
  content: "\e61c";
}

.icon-yuyuedingdan:before {
  content: "\e8a2";
}

.icon-maoshichan_:before {
  content: "\e604";
}

.icon-lingshi:before {
  content: "\e609";
}

.icon-maoliang:before {
  content: "\e607";
}

.icon-gouliang:before {
  content: "\e608";
}

.icon-gouliang1:before {
  content: "\e602";
}

.icon-aixinlingyanghover:before {
  content: "\e67b";
}

.icon-a-chongwuyongpin_maoshafuben:before {
  content: "\e622";
}

.icon-maowan:before {
  content: "\e625";
}

.icon-liugou:before {
  content: "\e603";
}

.icon-dizhiguanli:before {
  content: "\e63f";
}

.icon-moren:before {
  content: "\e601";
}

